@charset "UTF-8";
#first{
    /* 100점 */
    color: aqua;
}


p#first{
    /* 100점 + 1점 */
    color: rgb(0, 167, 83);
}

p.last{
    /* 10점 + 1점 */
    color: rgb(250, 102, 33);
}

p{
    color: red;
    text-align: center;
}

p {
    color:blueviolet
}
.last {
    color: brown;
}

#xx p#first .last{
    /* 특이성 점수: 100(xx) + 1(p) + 100(first) + 10(last) 점 */


}